<!DOCTYPE html>
<html>

<head>
    <title>Sensor Input</title>
</head>

<body>
    <h1>Sensor Input from Laptop</h1>
    <button onclick="sendSensorData()">Send Sensor Data</button>

    <p id="status"></p>

    <script src="/script.js"></script>
</body>

</html>